body {
  text-align: center;
  background-image: url("OrderBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  width: 375px;
  height: 650px;
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-left: 120px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.main-content {
  border-radius: 40px;
  background-color: white;
  border-width: 2px;
  width: 375px;
  height: 590px;
  margin-left: 450px;
}
p {
  font-size: 16px;
  text-align: center;
}
.image {
  width: 375px;
  height: 200px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.annual {
  font-weight: bold;
}
.change {
  list-style: none;
  display: inline-block;
}
.change-link {
  text-decoration: none;
}
.proceed-button {
  background-color: hsl(245, 75%, 52%);
  padding: 15px 80px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(119, 228, 243, 0.2),
    0 6px 20px 0 rgba(119, 228, 243, 0.2);
}
.proceed-button:hover {
  color: hsl(224, 23%, 55%);
  box-shadow: 0 8px 16px 0 rgba(119, 228, 243, 0.2),
    0 8px 25px 0 rgba(119, 228, 243, 0.2);
}
.proceed {
  text-decoration: none;
  color: white;
}
.cancel {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
  margin-top: 20px;
}
a {
  color: hsl(245, 75%, 52%);
}
a:hover {
  color: hsl(223, 47%, 23%);
}
